@font-face {
    font-family: 'Mont';
    src: url('./../fonts/Mont/Mont-HeavyDEMO.eot');
    src: url('./../fonts/Mont/Mont-HeavyDEMO.eot?#iefix') format('embedded-opentype'),
        url('./../fonts/Mont/Mont-HeavyDEMO.woff2') format('woff2'),
        url('./../fonts/Mont/Mont-HeavyDEMO.woff') format('woff'),
        url('./../fonts/Mont/Mont-HeavyDEMO.ttf') format('truetype'),
        url('./../fonts/Mont/Mont-HeavyDEMO.svg#Mont-HeavyDEMO') format('svg');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Mont';
    src: url('./../fonts/Mont-ExtraLightDEMO.eot');
    src: url('./../fonts/Mont-ExtraLightDEMO.eot?#iefix') format('embedded-opentype'),
        url('./../fonts/Mont-ExtraLightDEMO.woff2') format('woff2'),
        url('./../fonts/Mont-ExtraLightDEMO.woff') format('woff'),
        url('./../fonts/Mont-ExtraLightDEMO.ttf') format('truetype'),
        url('./../fonts/Mont-ExtraLightDEMO.svg#Mont-ExtraLightDEMO') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

